@import '../../mixins/mixins.module.scss';
.partners {
    
    background-image: url(../../images/capy.svg);
    &__title {
    @include section-title;
    }

    &__items {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, min-content);
        justify-content: center;
        align-items: center;
        gap:50px;
    }

    &__container {


        &-img {
            width: 300px;
        }
    }

    
}