@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,700;1,700&display=swap');
body {
    font-weight: 700;
    font-family: 'IBM Plex Mono', monospace;
}
.title {
    font-size: 65px;
    color: rgb(100 90 141);
    text-align: center;
  
    filter: blur(-17px);
    filter: drop-shadow(5px 5px 1px white);
}

.subtitle {
    font-size: 72px;
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    align-content: start;
    width: 60%;
}

.capy__container {
    display: flex;
    justify-content: center;
    
    margin: 0 auto;
    padding: 150px;
}

.capy__container-coin {
    
    width: 500px;
    align-self: center;
    margin-right: 50px;
    animation: rotatecoin 8s linear infinite;
    filter: drop-shadow(0px 0px 30px #fff);
}
.capy__container-text {
    font-size: 48px;
    color: #fff;
    text-align: center;
    align-self: center;
}

@keyframes rotatecoin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}