@import-normalize;
body {
  background-color: #4e6a6a;
  overflow: hidden;
}
.App {
  display: flex;
  justify-content: center;
}
img {
  width: 400px;
  filter: drop-shadow(2px 4px 6px #ffffff);
  /* animation: blur .6s alternate infinite; */
  
}
.capy {
  animation: move 3s infinite;
  margin-top: -120px;
}
.capy-2 {
  animation: move2 3s infinite;
}
@keyframes blur {
  0% {
    filter: blur(30px);
    
  }
  100% {
    filter: blur(0px);
    
  }
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30%);
  }
}
@keyframes move2 {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}
span {
  font-size: 72px;
  color: rgb(255, 251, 10);
  font-weight: 700;
  display: inline-block;
  animation: wave-text 1s ease-in-out infinite;
  text-align: center;
  margin: 0 auto;
}


span:nth-of-type(1){ animation-delay: 0.0s; }
span:nth-of-type(2){ animation-delay: 0.1s; }
span:nth-of-type(3){ animation-delay: 0.2s; }
span:nth-of-type(4){ animation-delay: 0.3s; }
span:nth-of-type(5){ animation-delay: 0.4s; }
span:nth-of-type(6){ animation-delay: 0.5s; }
span:nth-of-type(7){ animation-delay: 0.6s; }
span:nth-of-type(8){ animation-delay: 0.7s; }
span:nth-of-type(9){ animation-delay: 0.8s; }
span:nth-of-type(10){ animation-delay: 0.0s; }
span:nth-of-type(11){ animation-delay: 0.1s; }
span:nth-of-type(12){ animation-delay: 0.2s; }
span:nth-of-type(13){ animation-delay: 0.3s; }
span:nth-of-type(14){ animation-delay: 0.4s; }
span:nth-of-type(15){ animation-delay: 0.5s; }
span:nth-of-type(16){ animation-delay: 0.6s; }
span:nth-of-type(17){ animation-delay: 0.7s; }
span:nth-of-type(18){ animation-delay: 0.8s; }

@keyframes wave-text{
  00%{
    transform: translateY(0em);
  }
  60%{
    transform: translateY(-0.6em);
  }
  100%{
    transform: translateY(0em);
  }
}