@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,700;1,700&display=swap');
body {
    font-weight: 700;
    font-family: 'IBM Plex Mono', monospace;
    background-color:rgb(100 90 141);
}
ul li {
    list-style: none;
}
.title {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 214px;
    color: rgb(100 90 141);
    text-align: center;
  
    filter: blur(0px);
    
    /* filter: drop-shadow(5px 5px 1px white); */
}


.subtitle {
    font-size: 121px;
    color: #fff;
    font-weight: 700;
    display: flex;
    margin: 0 auto;
   
    animation: text 4s ease-in-out infinite;
    
}
@keyframes text {
    0% {
        filter: drop-shadow(2px 4px 12px rgba(255,231,0,1));
    }
    100% {
        filter: drop-shadow(2px 2px 2px transparent)
    }
}



.capy__container {
    display: flex;
    justify-content: center;
    
    margin: 0 auto;
    padding: 150px;
}

.capy__container-coin {
    
    width: 500px;
    align-self: center;
    margin-right: 50px;
    animation: rotatecoin 8s linear infinite;
    filter: drop-shadow(0px 0px 30px #fff);
}
.capy__container-text {
    font-size: 48px;
    color: #fff;
    text-align: center;
    align-self: center;
}

@keyframes rotatecoin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background:red;
    transform-origin: 0%;
  }